/* RESET*/
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

header{
    background-color: #1E1E1E;
    color: white;
    height: 109px;
}

header div{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 2.9375rem;
    height: 2.9375rem;
    margin-right: 1.875rem;
}

.logo-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    margin-right: 1.25rem;
    font-size: 1.25rem;
    color: #FFFFFF;
    text-decoration: none;
}

.logout{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    background-color:#FE8100;
    padding: 0.625rem 1.25rem 0.625rem 3.75rem;
    width: 10.1875rem;
    height: 3.4375rem;
}

.hidden {
    display: none;
}

.middle-between-containers{
    border: solid 0.0625rem;
    outline: none;
    border-color: #D8D8D8;
    height: 55.8125rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

#main-container{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

#login-container{
    width: 38.8125rem;
    border-radius: 1.8125rem;
    background-color: #FBFBFB;
    text-align: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

#login-content{
    border-bottom: 1px solid #D8D8D8;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: left;
}
/* 
#login-content hr{
    width: 100%;
    margin: 112px 0 112px 0;
    border: solid 0.0625rem;
    outline: none;
    border-color: #D8D8D8;
    align-items: center;
} */


#createAccount{
    text-align: center;
    margin-top: 70px;
}

#login-content button{
    background-color: #FE8100;
    color: white;
    border: none;
    outline: none;
    border-radius: 1.875rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    padding: 1.25rem;
    width: 30.9375rem;
    height: 4.375rem;
    margin-bottom: 8.125rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

#login-content h1{
    margin-bottom: 6.25rem;
    width: 22.125rem;
    font-size: 1.875rem;
    font-weight: bold;
    text-align: left;
}

#email, #password{
    border: none;
    outline: none;
    background-color: #F2F2F4;
    color: #848383;
    font-weight: 400;
    border-radius: 1.875rem;
    font-size: 1.5rem;
    display: block;
    padding: 1.25rem;
    width: 30.9375rem;
    height: 4.375rem;
}

#email{
    margin-bottom: 1.875rem;
}

#wellcome-container{
    width: 45.875rem;
    border-radius: 1.625rem;
    background-image: url('../img/wellcome.png');
    background-position-x: -15.625rem;
    background-size: cover;
    position: relative;
    color: #fff;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

#wellcome-content{
    position: absolute;
    text-align: left;
    top: 10vh;
    width: 25rem;
    font-size: 2.1875rem;
    margin-left: 2.375rem;
}

#wellcome-content p{
    text-align: left;
}

#loginCheck{
    text-align: left;
    display: block;
    margin-bottom: 1.875rem;
}

#login-container, #wellcome-container{
    height: 55.8125rem;
    text-align: center;
}

#login-container a{
    color: #FE8100;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}
#login-container p{
    font-size: 1.25rem;
}